{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
            <!-- Modal Add New Sub activity-->
            <div class="modal fade bd-example-modal-lg" {% block modal-id %} id="addCovertItemModalForm" {% endblock modal-id %}  tabindex="-1" role="dialog" aria-labelledby="addNewworkplanModalFormLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <form class="form" {% block Action %} action="/add_items_covertPages" {% endblock Action %} method= "POST" id="add_items_covert_form">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="addCovertItemModalFormLabel"> {% block modal-title %} <i class="fa fa-plus"></i>&nbsp;&nbsp;Add items {% endblock modal-title %}</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                           {% csrf_token %}
                           {% block value-id %}{% endblock value-id %}
                           {{ form.media }}
                          <!--{{ form.as_div }} --> 
                          {% block value-input %}
                        <div class="form-group col-md-12 mb-0">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group col-md-12 mb-0">
                            <label>Details</label>
                            <textarea name="details" class="form-control" rows="3"></textarea>
                          
                        </div>
                          {% endblock value-input %}
                           <!--  
                           {{form.gsmWorkplan}}-->
                        </div>
                        <div class="modal-footer">
                              <button type="submit" class="btn btn-secondary">  {% block btn-action %}<i class="fa fa-plus"></i>&nbsp;&nbsp;Submit{% endblock btn-action %}</button>
                              <!--  <button type="button" class="btn btn-secondary" onclick=onclick="addNewWorkplan()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Submit</button>-->
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>          
                              <button type="reset" class="btn btn-warning btn-sm" title="Reset"><i class="fa fa-edit"></i></button>
                        </div>
                      </div>
                </form>
                </div>
              </div>