{% extends "pages/coverPages/add_covertPageItems_modal.html" %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
 <!-- Modal Edit form-->
             
     <!-- Modal id-->
    {% block modal-id %} id="editCovertModalForm{{item_list.pk}}" {% endblock modal-id %}
       <!-- Modal Title-->
    {% block modal-title %} <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit items for  <code>cover page </code>{% endblock modal-title %}
      <!-- Form Action-->
      {% block Action %} action="/edit_items_covertPages/{{item_list.pk}}" {% endblock Action %}

       <!-- Button action-->
    {% block btn-action %} <i class="fa fa-server"></i>&nbsp;&nbsp;Save Changes {% endblock btn-action %}

    <!-- ALL INPUTS-->

   <!-- Block ID -->

    {% block value-id %}{% endblock value-id %}


    {% block value-input %} 

    <div class="form-group col-md-12 mb-0">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="{{item_list.name}}" >
    </div>
    <div class="form-group col-md-12 mb-0">
        <label>Details</label>
        <textarea name="details" class="form-control" rows="3">{{item_list.details}}</textarea>

    </div>
   

    
    {% endblock value-input %}