{% extends "cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

<style>
    .tbl-container{
        max-width:fit-content;
        max-height:fit-content;
    }
    .tbl-fixed{
        overflow-x: scroll;
        overflow-y: scroll;
        height: fit-content;
        max-height:70vh;
        margin-top: 40px;i
    }
    table tr:hover{
        background-color: #ddd;
    }
    table th{
        position:sticky;
        top:0px;
        background-color: #04AA6D;
        color: white;
    }
  </style>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <div class="container tbl-container" style="width: 185rem;">
            {% if user.is_authenticated %} 
            <section class="content-header">
                <h3>
                    Add, view and edit the <code><b>briefing Project</b></code> 
                    {% for message in messages %}
                    <small><code>{{ message }}</code></small>
                    {% endfor %}
                </h3>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-8">
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Cover page</a></li>
                            <li><a href="/briefing_report"><i class="fa fa-table"></i> Briefing note</a></li>
                            <li><a href="{% url 'export_all_briefing' %}"><i class="fa fa-download"></i> Export to Excel</a></li>
                            <li><a href="/index_briefing"><i class="fa fa-file-text-o"></i> Enter background for discussion</a></li>
                            <li class="active"><i class="fa fa-file-text-o"></i> Create briefing project</li>
                        </ol>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4">
                        <form method="GET">
                            {% csrf_token %}
                            <div class="input-group margin-bottom-sm">
                                <div class="row">
                                    <div class="col-md-10"><input class="form-control" name="briefing_title" type="text" placeholder="Search here title "></div>
                                    <div class="col-md-2"><button type="submit" class="btn btn-success">
                                        <i class="fa fa-search fa-fw"></i>
                                    </button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row tbl-fixed">
                    <table class="table responsive" id="myWorkplansTable1" style="width:100%"  data-toggle="table" data-pagination="true" data-search="true">
                        <form method="POST" action="{% url 'project_briefing' %}">
                            {% csrf_token %}
                                <tr>
                                    <th>Title</th>
                                    <th>Unit author</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Reporting date</th>
                                </tr>
                                {% if not form.instance.id %}
                                <tr> 
                                    {% include 'pages/briefing/briefing_project_save.html' %}
                                </tr>
                                {% endif %}
                            {% for briefingProject in briefingProjects %}
                                <tr>
                                    {% if form.instance.id == briefingProject.id %}
                                    {% include 'pages/briefing/briefing_project_save.html' %}
                                    {% else %} 
                                    <td>{{briefingProject.briefing_title}}</td>
                                    <td>{{briefingProject.unit}}</td>
                                    <td>{{briefingProject.start_date}}</td>
                                    <td>{{briefingProject.end_date}}</td>
                                    <td>{{briefingProject.reporting_date}}</td>
                                    <td><button formnovalidate name="edit" value="{{briefingProject.id}}" class="btn btn-primary btn-sm">Edit</button></td>
                                    <td><button formnovalidate name="delete" value="{{briefingProject.id}}" class="btn btn-warning btn-sm">delete</button></td>
                                    {% endif %}
                                </tr>
                            {% endfor %} 
                        </form>
                    </table>
                </div>
            </section>
            {% else %}
            <section>
                <p style="position: center;">
                    We could not find the page you were looking for. 
                    Meanwhile, you may <a href='/signin'>login with your account</a> or <a href='/'>return to home page</a>.
                </p>
            </section>
            {% endif %}
        </div>   
    </aside><!-- /.right-side -->
</div>
{% endblock %}


