{% extends "cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->    
    <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
        <!-- Content Header (Page header) -->
            <section class="contact-us section">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-8">
                            <h3 class="news-title">
                               <b> List of submitted <code>Briefing background note</code> whose document is saved</b> 
                            </h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <ul class="bread-list">
                                <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                <li><a href="/index_briefing"><i class="fa fa-edit" aria-hidden="true"></i> Submit briefing note</a></li>
                                <li class="active"><i class="fa fa-table" aria-hidden="true"></i> View briefing note</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <!-- blog-contents -->
                            <section class="col-md-8">
                                {% for  briefingProject in briefingProjects  %}                            
                                <article class="blog-item box box-solid box-success">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4> 
                                                <a href="single_briefing_page/{{briefingProject.pk}}">
                                                
                                                <img src="{% static 'images/demo/WHO.jpg' %}" height="70%" width="70%" alt="...">
                                                <b>{{ briefingProject.unit }}</b> 
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="col-md-8">
                                            <p>
                                                From: 
                                               <code>{{ briefingProject.start_date }}</code> 
                                                To:
                                               <code><time>{{ briefingProject.end_date }}<time></code> 
                                                <a href="export_briefing_page/{{briefingProject.pk}}">Export to Excel</a>
                                            </p>
                                            <h5>
                                                <b><a href="single_briefing_page/{{briefingProject.pk}}">{{ briefingProject.briefing_title }}</a></b>
                                            </h5>
                                            {% comment "" %}
                                            <h4><small>Type:</small>  {{ briefingProject.type_meeting }} <small>Taking place:</small> {{ briefingProject.taking_place }}</h4>
                                            <h4><small>Note taker:</small>  {{ briefingProject.note_taker }} <small>Participants:</small> {{ briefingProject.participants_list }}</h4>
                                            {% endcomment %}
                                            <button class="btn btn-sm btn-primary"><a href="briefing_doc_report/{{briefingProject.pk}}" style="color:#ffffff;">Generate document <i class="fa fa-download"></i></a></button>
                                        </div>
                                    </div>
                                </article> <!-- /.blog-item -->
                                {% endfor %}
                                <ul class="pagination justify-content-center my-5">
                                    {% if briefingProjects.has_previous %}
                                    <!-- 'First' and 'Previous' Buttons -->
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">|&lt; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ briefingProjects.previous_page_number }}">&lt; Previous</a>
                                    </li>
                                    {% endif %}
                                
                                    <!-- Numbered Buttons -->
                                    {% for page in paginator.page_range %}
                                    {% if briefingProjects.number == page %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                        </li>
                                    {% elif page > briefingProjects.number|add:'-3' and page < briefingProjects.number|add:'3' %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                
                                    <!-- 'Next' and 'Last' Buttons -->
                                    {% if briefingProjects.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" 
                                        href="?page={{ briefingProjects.next_page_number }}">Next &gt;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ briefingProjects.paginator.num_pages }}">Last &gt;|</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% comment "" %}
                                <div class="page-turn">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 text-center">
                                            <nav>
                                                <ul class="pagination pagination-sm">
                                                    <li class="disabled">
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">Prev</span>
                                                        </a>
                                                    </li>
                                                    {% for page in paginator.page_range %}
                                                    {% if page == surveyProjects.number %}
                                                    <li class="page-item active" aria-current="page">
                                                        <span class="page-link">{{page}}</span>
                                                    </li>                                 
                                                    {% else %}
                                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul> <!-- /.pagination -->
                                            </nav>
                                        </div>
                                    </div>
                                </div> <!-- /.page-turn -->
                                {% endcomment %}
                            </section>
                            <!-- end of blog-contents -->
                            <!-- sidebar -->
                            <aside class="col-md-4 col-sm-8 col-xs-8">
                                <div class="sidebar">
                                    <!-- search option -->
                                    <div class="search-widget">
                                        <form method="GET">
                                            {% csrf_token %}
                                            <div class="input-group margin-bottom-sm">
                                                <div class="row">
                                                    <input class="common-input" name="briefing_title" type="text" placeholder="Search here title briefing">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search fa-fw"></i></button>
                                                </div>
                                            </div>
                                            {% comment "" %}
                                            <div class="input-group margin-bottom-sm">
                                                <div class="row">
                                                    <div class="col-md-10"><input class="form-control" name="responsible" type="text" placeholder="Filter by survey author "></div>
                                                    <div class="col-md-2"><button type="submit" class="btn btn-primary">
                                                        <i class="fa fa-search fa-fw"></i>
                                                    </button></div>
                                                </div>
                                            </div>
                                            {% endcomment %}
                                        </form>
                                    </div>
                                </div>
                            </aside> 
                            <!-- end of sidebar -->
                        </div>
                    </div> <!-- end of /.container -->
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div>

{% endblock %}