
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
        <main>
            <div class="container">
                <div class="row">

                    <!-- blog-contents -->
                    <section class="col-md-12">
                        <article class="single-blog-item">
                            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-list-ol"></i> Briefing background with Note submitted
                    </h2>                            
                </div><!-- /.col -->
            </div>
                            <p>{{message}}</p>
                            <div class="row invoice-info">                         
                            </div><!-- /.row -->
                            <div class="alert alert-info">
                              <h4><strong>{{briefingProject.briefing_title }}</strong></h4> 
                            </div>
                            <div class="alert">
                                <h3>1. Start date:<b>{{briefingProject.start_date }}</b></h3> 
                                <h3>2. End date: <b> {{briefingProject.end_date }}</b></h3>
                                <h3>3. Reporting date place: <b>{{briefingProject.reporting_date }}</b></h3>
                                <h3>4. Background:</h3> 
                                <table class="table responsible" style="width:100%">  
                                    <thead>
                                        <tr>
                                            <th>Subject </th>
                                            <th>Specific topic </th>
                                            <th>Activities accomplished last period</th>
                                            <th>Activities planned current month</th>
                                            <th>Output</th>
                                            <th>Kpi</th>
                                            <th>Comments</th>
                                        </tr>                                    
                                    </thead>
                                    {% for briefingProject in briefingProjects %}
                                    <tbody>             
                                        <tr>
                                            <td>{{briefingProject.briefingProject_background__subject_background}}</td>
                                            <td>{{briefingProject.briefingProject_background__specific_topic}}</td>
                                            <td>{{briefingProject.briefingProject_background__accomplished_last_period}}</td>
                                            <td>{{briefingProject.briefingProject_background__planned_next_steps}}</td>
                                            <td>{{briefingProject.briefingProject_background__output}}</td>
                                            <td>{{briefingProject.briefingProject_background__kpi}}</td>
                                            <td>{{briefingProject.briefingProject_background__comment_background}}</td>
                                            
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- Table row -->
                        </article>


                        <ul class="pagination justify-content-center my-5">
                            {% if briefingProjects.has_previous %}
                            <!-- 'First' and 'Previous' Buttons -->
                              <li class="page-item">
                                <a class="page-link" href="?page=1">|&lt; First</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ briefingProjects.previous_page_number }}">&lt; Previous</a>
                              </li>
                            {% endif %}
                          
                            <!-- Numbered Buttons -->
                            {% for page in paginator.page_range %}
                              {% if briefingProjects.number == page %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                </li>
                              {% elif page > briefingProjects.number|add:'-3' and page < briefingProjects.number|add:'3' %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          
                            <!-- 'Next' and 'Last' Buttons -->
                            {% if briefingProjects.has_next %}
                              <li class="page-item">
                                <a class="page-link" 
                                  href="?page={{ briefingProjects.next_page_number }}">Next &gt;</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ briefingProjects.paginator.num_pages }}">Last &gt;|</a>
                              </li>
                            {% endif %}
                          </ul>

                          {% comment "" %}

                        <div class="page-turn">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">Prev</span>
                                                </a>
                                            </li>
                                            {% for page in paginator.page_range %}
                                            {% if page == surveyDatasets.number %}
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">{{page}}</span>
                                            </li>                                 
                                            {% else %}
                                            <li><a href="?page={{page}}">{{page}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul> <!-- /.pagination -->
                                    </nav>
                                </div>
                            </div>
                        </div> <!-- /.page-turn -->
                        {% endcomment %}
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-success" href="export_briefing_page/{{briefingProject.pk}}"><i class="fa-list-ol"></i> Export to Excel</a>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info" onclick="window.print();"><i class="fa fa-print"></i> Print</button>    
                            </div>
                            <div class="col-md-3 text-right">
                                <p>Back to <a href="/briefing_report">List</a></p>   
                            </div>
                        </div>
                    </section>
                    <!-- end of blog-contents -->
                </div>
            </div> <!-- end of /.container -->
        </main>
        <!-- smooth-scroll -->

        <script>
        $(function() {  
            jQuery.scrollSpeed(100, 1000);
        });
        </script>


        {% endblock %}
        