{% extends "base_view.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

<style>
  .tbl-container{
      max-width:fit-content;
      max-height:fit-content;
  }
  .tbl-fixed{
      overflow-x: scroll;
      overflow-y: scroll;
      height: fit-content;
      max-height:70vh;
      margin-top: 40px;
  }
  table tr:hover{
      background-color: #ddd;
  }
  table th{
      position:sticky;
      top:0px;
      background-color: #04AA6D;
      color: white;
  }
</style>


<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        {% if user.is_authenticated %}  
        <div class="container tbl-container" style="width: 180rem;">
            <section class="content-header">
                <h3>
                    Add, view and edit the <code><b>meeting Project</b></code> 
                    {% for message in messages %}
                    <small><code>{{ message }}</code></small>
                    {% endfor %}
                </h3>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-8">
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Cover page</a></li>
                            <li><a href="/meeting_report"><i class="fa fa-table"></i> Meetings views</a></li>
                            <li><a href="{% url 'export_all_meeting' %}"><i class="fa fa-download"></i> Export to Excel</a></li>
                            <li><a href="/index_meeting"><i class="fa fa-file-text-o"></i> Enter topics for discussion</a></li>
                            <li class="active"><i class="fa fa-file-text-o"></i> Create meeting project</li>
                        </ol>
                    </div>
                    <div class="col-lg-4 col-md-4 col-4">
                        <form method="GET">
                            {% csrf_token %}
                            <div class="input-group margin-bottom-sm">
                                <div class="row">
                                    <div class="col-md-10"><input class="form-control" name="chair_name" type="text" placeholder="Search here chair name "></div>
                                    <div class="col-md-2"><button type="submit" class="btn btn-success">
                                        <i class="fa fa-search fa-fw"></i>
                                    </button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row tbl-fixed">
                    <table class="table responsive" id="myWorkplansTable1" style="width:100%"  data-toggle="table" data-pagination="true" data-search="true">
                        <form method="POST" action="{% url 'project_meeting' %}">
                            {% csrf_token %}
                                <tr>
                                    <th>Link to output</th>
                                    <th>Link to kpi</th>
                                    <th>Date</th>
                                    <th>Meeting Name</th>
                                    <th>Type of the meeting</th>
                                    <th>Objective</th>
                                    <th>Where is the meeting taking place</th>
                                    <th>Chair Name</th>
                                    <th>NoteTaker Name</th>
                                    <th>Participants list</th>
                                </tr>
                                {% if not form.instance.id %}
                                <tr> 
                                    {% include 'pages/meeting/meeting_project_save.html' %}
                                </tr>
                                {% endif %}
                            {% for meetingProject in meetingProjects %}
                                <tr>
                                    {% if form.instance.id == meetingProject.id %}
                                    {% include 'pages/meeting/meeting_project_save.html' %}
                                    {% else %} 
                                    <td>{% for outputList in meetingProject.output.all %}{{ outputList }} {% endfor %}</td>
                                    <td>{% for kpiList in meetingProject.kpi.all %}{{ kpiList }} {% endfor %}</td>
                                
                                    <td>{{meetingProject.date_meeting}}</td>
                                    <td>{{meetingProject.name_meeting}}</td>
                                    <td>{{meetingProject.type_meeting}}</td>
                                    <td>{{meetingProject.objective_meeting}}</td>
                                    <td>{{meetingProject.taking_place}}</td>
                                    <td>{{meetingProject.chair_name}}</td>
                                    <td>{{meetingProject.note_taker}}</td>
                                    <td>{{meetingProject.participants_list}}</td>
                                    <td><button formnovalidate name="edit" value="{{meetingProject.id}}" class="btn btn-primary btn-sm">Edit</button></td>
                                    <td><button formnovalidate name="delete" value="{{meetingProject.id}}" class="btn btn-warning btn-sm">delete</button></td>
                                    {% endif %}
                                </tr>
                            {% endfor %} 
                        </form>
                    </table>
                </div>
            </section>

            {% comment "" %}
            <ul class="pagination justify-content-center my-5">
                {% if meetingProjects.has_previous %}
                <!-- 'First' and 'Previous' Buttons -->
                <li class="page-item">
                    <a class="page-link" href="?page=1">|&lt; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ meetingProjects.previous_page_number }}">&lt; Previous</a>
                </li>
                {% endif %}
            
                <!-- Numbered Buttons -->
                {% for page in paginator.page_range %}
                {% if meetingProjects.number == page %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                    </li>
                {% elif page > meetingProjects.number|add:'-3' and page < meetingProjects.number|add:'3' %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
                {% endfor %}
            
                <!-- 'Next' and 'Last' Buttons -->
                {% if meetingProjects.has_next %}
                <li class="page-item">
                    <a class="page-link" 
                    href="?page={{ meetingProjects.next_page_number }}">Next &gt;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ meetingProjects.paginator.num_pages }}">Last &gt;|</a>
                </li>
                {% endif %}
            </ul>
            {% endcomment %}
    
            {% else %}
            <section>
                <p style="position: center;">
                    We could not find the page you were looking for. 
                    Meanwhile, you may <a href='/signin'>login with your account</a> or <a href='/'>return to home page</a>.
                </p>
            </section>
        </div>   
        {% endif %}
    </aside><!-- /.right-side -->
</div>

{% endblock %}


