
{% extends "cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <main>
            <div class="container">
                <div class="row">

                    <!-- blog-contents -->
                    <section class="col-md-12">
                        <article class="single-blog-item">
                            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="page-header">
                        <i class="fa fa-list-ol"></i> <code>Survey</code> with Dataset submitted
                    </h3>                            
                </div><!-- /.col -->
            </div>
                            <p>{{message}}</p>
                            <div class="row invoice-info">                         
                            </div><!-- /.row -->
                            <div class="alert alert-info">
                              <h4><strong>{{surveyProject.title_surv }}</strong></h4> 
                            </div>
                            <div class="alert">
                                <h5>1. Survey author:<b>{{surveyProject.responsible }}</b></h5> 
                                <h5>2. Date of the survey: <b> From {{surveyProject.start_date }} To {{surveyProject.end_date }}</b></h5>
                                <h5>3. Survey location: <b>{{surveyProject.location_survey }}</b></h5>
                                <h5>4. Survey data:</h5> 
                                <table class="table responsible" style="width:100%">  
                                    <thead>
                                        <tr>
                                            <th>Question code</th>
                                            <th>Questions</th>
                                            <th>Response in text format</th>
                                            <th>Response in integer format</th>
                                            <th>First geographic area</th>
                                            <th>Second geographic area</th>
                                        </tr>                                    
                                    </thead>
                                    {% for surveyDataset in surveyDatasets %}
                                    <tbody>             
                                        <tr>
                                            <td>{{surveyDataset.project_surveyData__quest_code}}</td>
                                            <td>{{surveyDataset.project_surveyData__question}}</td>
                                            <td>{{surveyDataset.project_surveyData__response_text}}</td>
                                            <td>{{surveyDataset.project_surveyData__response_num}}</td>
                                            <td>{{surveyDataset.project_surveyData__level_1}}</td>
                                            <td>{{surveyDataset.project_surveyData__level_2}}</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- Table row -->
                        </article>


                        <ul class="pagination justify-content-center my-5">
                            {% if surveyDatasets.has_previous %}
                            <!-- 'First' and 'Previous' Buttons -->
                              <li class="page-item">
                                <a class="page-link" href="?page=1">|&lt; First</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ surveyDatasets.previous_page_number }}">&lt; Previous</a>
                              </li>
                            {% endif %}
                          
                            <!-- Numbered Buttons -->
                            {% for page in paginator.page_range %}
                              {% if surveyDatasets.number == page %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                </li>
                              {% elif page > surveyDatasets.number|add:'-3' and page < surveyDatasets.number|add:'3' %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          
                            <!-- 'Next' and 'Last' Buttons -->
                            {% if surveyDatasets.has_next %}
                              <li class="page-item">
                                <a class="page-link" 
                                  href="?page={{ surveyDatasets.next_page_number }}">Next &gt;</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ surveyDatasets.paginator.num_pages }}">Last &gt;|</a>
                              </li>
                            {% endif %}
                          </ul>

                          {% comment "" %}

                        <div class="page-turn">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">Prev</span>
                                                </a>
                                            </li>
                                            {% for page in paginator.page_range %}
                                            {% if page == surveyDatasets.number %}
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">{{page}}</span>
                                            </li>                                 
                                            {% else %}
                                            <li><a href="?page={{page}}">{{page}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul> <!-- /.pagination -->
                                    </nav>
                                </div>
                            </div>
                        </div> <!-- /.page-turn -->
                        {% endcomment %}
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-success" href="{% url 'export_survey_page' surveyProject.pk %}"><i class="fa-list-ol"></i> Export to Excel</a>
                                
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-info" onclick="window.print();"><i class="fa fa-print"></i> Print</button>    
                            </div>
                            <div class="col-md-3 text-right">
                                <p>Back to <a href="/survey_report">List</a></p>   
                            </div>
                        </div>
                    </section>
                    <!-- end of blog-contents -->
                </div>
            </div> <!-- end of /.container -->
        </main>
        <!-- smooth-scroll -->

        <script>
        $(function() {  
            jQuery.scrollSpeed(100, 1000);
        });
        </script>


        {% endblock %}
        