{% extends "base.html" %}

{% block content %}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
<div class="container" id="my-workplans-table-container" style="width: 140rem;">
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">
    <p{% if message.tags %} class=""{% endif%}{{message}}></p>
</div>


{% endfor %}
{% endif %}
<section class="content-header">
    <h3>
        Upload the dataset from survey
        <small>Preview</small>
    </h3>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="/survey_report">Survey data</a></li>
        <li class="active">Import dataset</li>
    </ol>
</section>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form"  action="/upload_survey" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body">
           <div class="form-group">
                <label>File in Excel format(xlsx) </label>
                <input type="file"  name="myfile" class="form-control">
                <p class="help-block">Please use these column: 0-id, 1-project survey,  2-quest_code, 3-question, 4-response_text, 5-response_num, 6-level_1, 5-level_2</p>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div><!-- /.box -->
</div>

</aside><!-- /.right-side -->
</div>
{% endblock %}