
{% extends "cover/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}

<!--<link href="{% static 'css/myStyle/individualReport.css' %}" rel="stylesheet" type="text/css" /> -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />

<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">              
        <!-- Content Header (Page header) -->
        <section class="contact-us section">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-8">
                            <h3 class="news-title">
                                <b>List of <code> key performance indicators</code> with submitted results</b> 
                                <small>Pillar 3</small>
                            </h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <ul class="bread-list">
                                <li><a href="/dashboard"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a></li>
                                <li><a href="/index_kpi"><i class="fa fa-edit" aria-hidden="true"></i> Edited KPI results</a></li>
                                <li class="active"><i class="fa fa-table" aria-hidden="true"></i> KPI list</li>
                            </ul>
                        </div>
                    </div>
                <div class="container">
                    <div class="row">
                        <!-- blog-contents -->
                            <section class="col-md-8">
                                {% for  kpi in kpis  %}
                                <article class="blog-item box box-solid box-success">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5> 
                                                <a href="single_kpi_page/{{kpi.pk}}">
                                                <b>{{ kpi.kpi_code }}</b>  
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col-md-8">
                                            
                                            <p>
                                                from 
                                            <code>{{ kpi.unit }}</code> 
                                                in
                                            <code><time>{{ kpi.kpi_link }}<time></code> 
                                                <a href="export_kpi_excel/{{kpi.pk}}">Export to Excel</a>
                                            </p>
                                            <h6>
                                                <a href="single_kpi_page/{{kpi.pk}}">{{ kpi.kpi_description }}</a>
                                            </h6>
                                            <button class="btn btn-sm btn-primary"><a href="download_kpi_result/{{kpi.pk}}" style="color:#ffffff;">Generate document <i class="fa fa-download"></i></a></button>
                                        
                                        </div>
                                    </div>
                                </article> <!-- /.blog-item -->
                                {% endfor %}

                                <!--Pagination-->
                                <ul class="pagination justify-content-center my-5">
                                    {% if kpis.has_previous %}
                                    <!-- 'First' and 'Previous' Buttons -->
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">|&lt; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ kpis.previous_page_number }}">&lt; Previous</a>
                                    </li>
                                    {% endif %}
                                
                                    <!-- Numbered Buttons -->
                                    {% for page in paginator.page_range %}
                                    {% if kpis.number == page %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                        </li>
                                    {% elif page > kpis.number|add:'-3' and page < kpis.number|add:'3' %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                
                                    <!-- 'Next' and 'Last' Buttons -->
                                    {% if kpis.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" 
                                        href="?page={{ kpis.next_page_number }}">Next &gt;</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ kpis.paginator.num_pages }}">Last &gt;|</a>
                                    </li>
                                    {% endif %}
                                </ul>

                                <!--/End Pagination-->



                                {% comment "pagination" %}
                                <div class="page-turn">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-3 text-center">
                                            <nav>
                                                <ul class="pagination pagination-sm">
                                                    <li class="disabled">
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">Prev</span>
                                                        </a>
                                                    </li>
                                                    {% for page in paginator.page_range %}
                                                    {% if page == kpis.number %}
                                                    <li class="page-item active" aria-current="page">
                                                        <span class="page-link">{{page}}</span>
                                                    </li>
                                                    {% else %}
                                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul> <!-- /.pagination -->
                                            </nav>
                                        </div>
                                    </div>
                                </div> <!-- /.page-turn -->
                                {% endcomment %}
                            </section>
                        <!-- end of blog-contents -->
                        <!-- sidebar -->
                        <aside class="col-md-4 col-sm-8 col-xs-8">
                            <div class="sidebar">
                                <!-- search option -->
                                <div class="search-widget">


                                    <form method="GET">
                                        {% csrf_token %}
                                        <div class="input-group margin-bottom-sm">
                                            <div class="row">
                                            
                                                <input class="common-input" name="kpi_code" type="text" placeholder="Filter by KPI code">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-search fa-fw"></i></button>
                                                
                                            </div>

                                            
                                        </div>
                                    </form>
                                
                                </div>
                            </div>
                        </aside> 
                        <!-- end of sidebar -->
                    </div>
                </div> <!-- end of /.container -->
               
            </div>
        </section>
    </aside><!-- /.right-side -->
</div>
{% endblock %}