{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


    <!-- Modal Dialog delete-->   
    <div class="modal fade" id="deletekpiAchievetModal{{kpiAchieve.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="">
                    <div class="modal-header">                
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you wante to delete this <code>KPI result ?</code><br/><br/><b>{{kpiAchieve.kpi.kpi_description}}</b><br/><br/>reported on <code>{{kpiAchieve.report_date}}</code><br/><br/>with value: <code>{{kpiAchieve.report_resut}}</code></h4>
                    </div>
                    <div class="modal-footer">
                        <button formnovalidate name="delete" value="{{kpiAchieve.id}}" class="btn btn-warning btn-sm">delete</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        </div>