{% extends "cover/base.html" %}
{% load static %}
{% block content %}
	<!-- Slider Area -->
	<section class="slider">
		<div class="hero-slider">
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('{% static 'images/demo/slider2.jpg' %}')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Monitoring and evaluation of<span> well-being and healthy population</span> indicators</h1>
								<p>The systematic and continuous process of monitoring the progress and performance of the activities described in the work plan</p>
								<div class="button">
									<a href="/dashboard" class="btn">Performance display</a>
									<a href="/sub_activity_wkpl" class="btn primary">Edit activity status</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('{% static 'images/demo/slider.jpg' %}')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Key  <span>performance  </span>indicator<span></span></h1>
								<p>These key performance indicators (KPIs) measure the extent to which results have been achieved in relation to expected targets.</p>
								<div class="button">
									<a href="/index_kpi" class="btn">KPI display</a>
									<a href="/reporting_indicator" class="btn primary">Other indicators</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start End Slider -->
			<!-- Start Single Slider -->
			<div class="single-slider" style="background-image:url('{% static 'images/demo/slider3.jpg' %}')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Survey <span>Data</span>, Collect <span></span></h1>
								<p>General data management center at AFRO/UHP cluster.</p>
								<div class="button">
									<a href="/index_survey" class="btn">Survey dataset</a>
									<a href="/survey_report" class="btn primary">Survey list</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
		</div>
	</section>
	<!--/ End Slider Area -->
	<!-- Start Schedule Area -->
	<section class="schedule">
		<div class="container">
			<div class="schedule-inner">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">
						<!-- single-schedule -->
						<div class="single-schedule first">
							<div class="inner">
								<div class="icon">
									
									<i class="fa fa-ambulance"></i>
								</div>
								<div class="single-content">
									{% comment "" %}<span>Lorem Amet</span>{% endcomment %}
									<h4>Monitoring of workplan</h4>
									<p>This is the systematic and continuous process of monitoring the progress and performance of the activities described in the work plan.</p>
									<a href="/sub_activity_report">CLICK HERE TO ACCESS<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- single-schedule -->
						<div class="single-schedule middle">
							<div class="inner">
								<div class="icon">
									<i class="icofont-ui-clock"></i>
								</div>
								<div class="single-content">
									{% comment "" %}<span>Fusce Porttitor</span>{% endcomment %}
									<h4>Key performance indicator</h4>
									<p>These key performance indicators (KPIs) measure the extent to which results have been achieved in relation to expected targets.</p>
									<a href="/kpi_report">CLICK HERE TO ACCESS<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<!-- single-schedule -->
						<div class="single-schedule last">
							<div class="inner">
								<div class="icon">
									<i class="icofont-prescription"></i>
								</div>
								<div class="single-content">
									{% comment "" %}<span>Donec luctus</span>{% endcomment %}
									<h4>Survey data</h4>
									<p>A survey data warehouse is built up from a survey or questionnaire administered to a group of individuals or organizations.</p>
									{% comment "" %}<ul class="time-sidual">
									<li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
										<li class="day">Saturday <span>9.00-18.30</span></li>
										<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
									</ul>
									{% endcomment %}
									<a href="/survey_report">CLICK HERE TO ACCESS<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/End Start schedule Area -->
	<!-- Start Feautes -->
	
	<!--/ End Feautes -->

	<!-- Start Call to action -->
	<section class="call-action overlay" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="content">
						<h2>UHP CLUSTER TEAMWORK</h2>
						<div class="button">
							<a href="/risk_report" class="btn">Risk Management</a>
							<a href="/meeting_report" class="btn second">Meeting report<i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Call to action -->



	
	<!-- End Blog Area -->

	<!-- Start Newsletter Area -->
	<section class="newsletter section">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6  col-12">
					<!-- Start Newsletter Form -->
					<div class="subscribe-text ">
						<h6>Sign up for newsletter</h6>
						<p class="">Please subscribe to our newsletters to receive updates on the publication,<br>  of reports..</p>
					</div>
					<!-- End Newsletter Form -->
				</div>
				<div class="col-lg-6  col-12">
					<!-- Start Newsletter Form -->
					<div class="subscribe-form ">
						{% for message in messages %}
							<div class="alert alert-info {{ message.tags }}">
								<p><strong>{{message}}</strong></p>  
							</div>
						{% endfor %}
						<form action="/subscribers" method="POST" class="newsletter-inner">
							{% csrf_token %}

							<div class="row">
								<div class="col-lg-5 col-md-4 col-4">
									<input id="name_newsletter"  name="name_subscriber" placeholder="Your name" class="common-input" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Your name'" required="" type="text">
								</div>
								<div class="col-lg-5 col-md-4 col-4">
									<input id="email_newsletter"  name="email_subscriber" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Your email address'" required="" type="email">
								</div>
								<div class="col-lg-2 col-md-4 col-4">
									<button type="submit" class="btn">Subscribe</button>
								</div>
							</div>
							
							
							
						</form>
					</div>
					<!-- End Newsletter Form -->
				</div>
			</div>
		</div>
	</section>
	<!-- /End Newsletter Area -->

{% endblock  %}
