{% extends "cover/base.html" %}
{% load static %}
{% block content %}

<br>


	<!-- Start Contact Us -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<div class="row"> 
					{% comment "" %}
					<div class="col-lg-6">
						<div class="contact-us-left">
							<!--Start Google-map -->
							<div id="myMap"></div>
							<!--/End Google-map -->
						</div>
					</div>
					{% endcomment %}
					<div class="col-lg-12">
						<div class="contact-us-form">
							<h2>Register Here</h2>
							<p>If you have any questions please fell free to contact with us: <b>ondona@who.int</b></p>
							<!-- Form -->
							{% for message in messages %}
							<div class="alert alert-danger {{ message.tags }}">
								<p><strong>{{message}}</strong></p>  
							</div>
					     	{% endfor %}
							<form class="form" method="POST" action="/signup">
								{% csrf_token %}
								{% comment "" %}
									{% for message in messages  %}
									<div class="alert alert-{{message.tags}} alert-dismissible fade showo" role="alert">
										<p><strong>Message:</strong>{{message}}</p>
									</div>
									{% endfor %}
									{% endcomment %}
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="username" placeholder="Create a username (only letters)" required="">
										</div>
									</div>
                  <div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="fname" placeholder="Enter your first name" required="">
										</div>
									</div>
                  <div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="lname" placeholder="Enter your last name" required="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<input type="email" name="email" placeholder="Enter your Email Address" required="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
                      <input type="password" id="pass1" name="pass1" placeholder="Create a password" Required>
										</div>
									</div>
                  <div class="col-lg-6">
										<div class="form-group">
                      <input type="password" id="pass2" name="pass2" placeholder="Confirm your password" Required>
										</div>
									</div>
									
									<div class="col-12">
                      <div class="form-group login-btn">
                        <button class="btn" type="submit">Please click to save<i class="icofont icofont-paper-plane"></i></button>
                      </div>
                      <div class="form-group">
                        <a href="/signin" class="text-center">I already have account</a>
                      </div>
										{% comment "" %}
										<div class="checkbox">
											<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Do you want to subscribe our Newsletter ?</label>
										</div>
										{% endcomment %}
									</div>
								</div>
							</form>
							<!--/ End Form -->
						</div>
					</div>
				</div>
			</div>
			{% comment "" %}
			<div class="contact-info">
				<div class="row">
					<!-- single-info -->
					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont icofont-ui-call"></i>
							<div class="content">
								<h3>+(242) 0X XXX XX XX</h3>
								<p>xxx@who.int</p>
							</div>
						</div>
					</div>
					<!--/End single-info -->
					<!-- single-info -->
					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont-google-map"></i>
							<div class="content">
								<h3>WHO/AFRO UHP cluter</h3>
								<p>Address:xxxxx</p>
							</div>
						</div>
					</div>
					<!--/End single-info -->
					<!-- single-info -->
					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont icofont-wall-clock"></i>
							<div class="content">
								<h3>Monday - Friday: 8am - 4pm</h3>
								<p>Saturday and Sunday Closed</p>
							</div>
						</div>
					</div>
					<!--/End single-info -->
				</div>
			</div>
			{% endcomment %}
		</div>
	</section>


{% endblock %}