{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}


<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->    
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">                
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h3>
                List of submitted <b>reports</b>  for backup in the platform
                <small>Preview</small>
            </h3>
            <ol class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li><a href="/report_upload">Upload report</a></li>
                <li class="active">List of the report</li>
            </ol>
        </section>
        <hr>
            <div class="container">
                <div class="row">
                    <!-- blog-contents -->
                    <section class="col-md-8">
                        {% for  reportSave in reportSaves  %}                            
                        <article class="blog-item box box-solid box-success">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4> 
                                        <a href="{{reportSave.file_rep}}">
                                            {% if reportSave.img_cp_rep  %}
                                                <img src="{{ reportSave.img_cp_rep.url}}" height="100%" width="100%" class="img-thumbnail" alt="...">
                                            {% else %}
                                                <img src="{% static 'images/demo/afro.png' %}" height="100%" width="100%" class="img-thumbnail" alt="...">
                                            {% endif %}
                                        </a>
                                    </h4>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        from 
                                       <code><time>{{ reportSave.date_rep }}<time></code> 
                                        author
                                       <code>{{ reportSave.author_rep }}</code> 
                                       <!--
                                        <a href="export_survey_page/{{surveyDataset.pk}}">Export to Excel</a>
                                        -->
                                    </p>
                                    <h3>
                                       <b><a href="{{reportSave.file_rep}}">{{ reportSave.title_rep }}</a></b> 
                                    </h3>
                                    <h4>{{ reportSave.summary_rep }}</h4>
                                </div>
                            </div>
                        </article> <!-- /.blog-item -->
                        {% endfor %}

                        <ul class="pagination justify-content-center my-5">
                            {% if reportSaves.has_previous %}
                            <!-- 'First' and 'Previous' Buttons -->
                              <li class="page-item">
                                <a class="page-link" href="?page=1">|&lt; First</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ reportSaves.previous_page_number }}">&lt; Previous</a>
                              </li>
                            {% endif %}
                          
                            <!-- Numbered Buttons -->
                            {% for page in paginator.page_range %}
                              {% if reportSaves.number == page %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
                                </li>
                              {% elif page > reportSaves.number|add:'-3' and page < reportSaves.number|add:'3' %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          
                            <!-- 'Next' and 'Last' Buttons -->
                            {% if reportSaves.has_next %}
                              <li class="page-item">
                                <a class="page-link" 
                                  href="?page={{ reportSaves.next_page_number }}">Next &gt;</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ reportSaves.paginator.num_pages }}">Last &gt;|</a>
                              </li>
                            {% endif %}
                          </ul>

                          {% comment "" %}



                        <div class="page-turn">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">Prev</span>
                                                </a>
                                            </li>
                                            {% for page in paginator.page_range %}
                                            {% if page == reportSaves.number %}
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">{{page}}</span>
                                            </li>                                 
                                            {% else %}
                                            <li><a href="?page={{page}}">{{page}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul> <!-- /.pagination -->
                                    </nav>
                                </div>
                            </div>
                        </div> <!-- /.page-turn -->
                        {% endcomment %}
                    </section>
                    <!-- end of blog-contents -->
                    <!-- sidebar -->
                    <aside class="col-md-4 col-sm-8 col-xs-8">
                        <div class="sidebar">
                            <!-- search option -->
                            <div class="search-widget">
                                <form method="GET">
                                    {% csrf_token %}
                                    <div class="input-group margin-bottom-sm">
                                        <div class="row">
                                            <div class="col-md-10"><input class="form-control" name="title_rep" type="text" placeholder="Search here title of report "></div>
                                            <div class="col-md-2"><button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search fa-fw"></i>
                                            </button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </aside> 
                    <!-- end of sidebar -->
                </div>
            </div> <!-- end of /.container -->
    
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div>
 
{% endblock %}