{% load static %}

<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UHP Stats</title>
   
    <link href="{% static 'new_form/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!--   <link rel="stylesheet" href="{% static 'css/myStyle/style.css' %}" type="text/css" />
    
    -->

  </head>
  <body>
    
    <!-- End Preloader -->
    {% comment "" %}
    {% include 'pages/forms/workplans/header.html' %}
    {% endcomment %}
    
      {% block content %}
      {% endblock %}
   
 
    <script src="{% static 'new_form/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'new_form/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}

  </body>
</html>


